form.w3-container.w3-padding(method="POST")
    fieldset.w3-light-grey
        legend Form Utilizador
        label ID
        input.w3-input.w3-round-large.w3-grey(type="text" name="id")
        label Nome
        input.w3-input.w3-round-large.w3-grey(type="text" name="nome")
    br
    button.w3-btn.w3-round-xlarge.w3-red(type="submit") Register User